<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'error')}">
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-customize">
        <div class="navbar-header">
            <div class="navbar-brand" href="#">久问</div>
        </div>
    </div>
</nav>

<div class="container content">
    <div class="page-header">
        <h2>欢迎访问久问问答</h2>
    </div>
    <p class="lead">如有问题可以关注 WEB项目聚集地 订阅号咨询。</p>
</div>
</body>
</html>

